id32
tapes/
pdf/*.pdf
v3/
v4/
open/
*.swp
*.dsk
*.out
*.lst
*.zip
.~*
logs/
software-tools/
css/
private/
delme*
wop
wot
shadow.config
core
6.1/
6.2/
7.2/
NAMES
NEXTSTEPS
MAYBE.txt
bitsavers.ods
src/
*docker*
