# vim:set syntax=tcl:

namespace eval config {

   #
   # This should  be set to  the IP address  of your machine.  Note that
   # localhost or 127.0.0.1  only listen on the loopback  device. If you
   # want  your Interdata  to be  accessible from  other machines,  then
   # define host  as your machine's IP  address, i.e. the IP  address of
   # your network interface.
   #
   # A high numbered  port lets you run without root  privilege. But the
   # standard 21  will be much more  convenient if you are  running in a
   # container; especially if you want  to use the Microsoft Windows FTP
   # client, which can only use port 21.
   #

   set host localhost
   set port 2121

   #
   # User name, account, and password.
   #
   # OS/32 uses numeric  accounts instead of named users,  but we'll use
   # an array (key/value pairs) called "access", indexed by name.
   #
   # The value  part can  have multiple numeric  elements, the  first of
   # which is the initial  working directory. Additional directories can
   # also  be given,  for  example  user1 (25)  can  go  into their  own
   # directory 25 and their group directory 20; but nowhere else.
   #
   # In addition  to any  numeric accounts,  the user  can also  have an
   # asterisk in their  access control list, in which case  they will be
   # able to access files in all accounts. Use this wisely.
   #
   # There are two types of users:
   #
   # - Password authenticated  users.  These  are let  in if  their MD5
   #   hashed password matches. The hash is salted with the username to
   #   prevent hash collisions.
   #
   # - MTM based authentication. These do  not have an MD5 password, so
   #   we try to SIGNON using a terminal session.
   #
   # Password  authentication  is quicker,  but  MTM  is more  "elegant"
   # because the user can change their password "online", under OS/32.
   #

   array set access {
       user1 { 25 20 }
   }

   # See example.shadow.config
   array set passwords {}

   #
   # Some directories might contain sensitive information, in which case
   # you want to keep everyone out.  Account 255 is one such "directory"
   # because it owns the MTM Authorized Users File. You may also want to
   # "lappend" account  zero to that  list because that is  where system
   # programs live.
   #

   set cdblacklist 255

   #
   # All the IP  addresses you wish to  allow. You want to  have a small
   # whitelist rather than allowing all.
   #

   set allowip {
       127.0.0.1
   }
   #set allowip all  ;# not recommended

   #
   # Announcement.  Don't include  any  newlines because  the Linux  ftp
   # client  gets confused  if  you do.  While we're  at  it, let's  not
   # pretend to be UNIX.
   #

   set welcome "OS/32 FTP server"
   set ostype  "OS/32 Version 8.1 Interdata 8/32"

   #
   # What ini file are we using?
   #

   set inifile os32.ini

   #
   # It's  useful to  show startup  messages  in colour.  Same goes  for
   # logins.
   #

   array set vt100 {
      green "\x1b\[32m"
      red   "\x1b\[31;1m"
   }

   #
   # Leave  this  on,  at  least  initially. But  DO  zero  it  in  your
   # shadow.config  when you  are satisfied  that your  configuration is
   # working.
   #

   set debugconfig 1
}

if { [file exists shadow.config] } {
   if { [FileIs600 shadow.config] } {
      puts "$vt100(green)Sourcing shadow.config$vt100(normal)"
      source shadow.config
   } else {
      puts "$vt100(red)Ignoring shadow.config, must be chmod 600 or 400$vt100(normal)"
   }
} else {
   puts "$vt100(green)No shadow.config$vt100(normal)"
}
