# vim:set syntax=tcl:

namespace eval config {

   #
   # This should  be set to  the IP address  of your machine.  Note that
   # localhost or 127.0.0.1  only listen on the loopback  device. If you
   # want  your Interdata  to be  accessible from  other machines,  then
   # define host  as your machine's IP  address, i.e. the IP  address of
   # your network interface.
   #
   # A high numbered  port lets you run without root  privilege. But the
   # standard 21  will be much more  convenient if you are  running in a
   # container; especially if you want  to use the Microsoft Windows FTP
   # client, which can only use port 21.
   #

   set host localhost
   set port 2121

   #
   # User name, account, and password.
   #
   # OS/32 uses numeric  accounts instead of named users,  but we'll use
   # an array (key/value pairs) called "access", indexed by name.
   #
   # The value  part can  have multiple numeric  elements, the  first of
   # which is the initial  working directory. Additional directories can
   # also  be given,  for  example  user1 (25)  can  go  into their  own
   # directory 25 and their group directory 20; but nowhere else.
   #
   # If the value part contains an  asterisk, in addition to any numeric
   # accounts, the  user will  be have  access to  all accounts.  If the
   # first and only element is an asterisk, the user will have access to
   # all accounts and start off in the system account 0.
   #
   # There are two types of users:
   #
   # - Password authenticated  users.  These  are let  in if  their MD5
   #   hashed password matches. The hash is salted with the username to
   #   prevent hash collisions.
   #
   # - MTM based authentication. These do  not have an MD5 password, so
   #   we try to SIGNON using a terminal session.
   #
   # Password  authentication  is quicker,  but  MTM  is more  "elegant"
   # because the user can change their password "online", under OS/32.
   #

   set numericlogins 0

   array set access {
       user1 { 25 20 }
   }

   # See bottom of file for shadow.config
   array set passwords {}

   #
   # All the IP  addresses you wish to  allow. You want to  have a small
   # whitelist rather than allowing all.
   #

   set allowip {
       127.0.0.1
   }
   #set allowip all  ;# not recommended

   #
   # Announcement.  Don't include  any  newlines because  the Linux  ftp
   # client  gets confused  if  you do.  While we're  at  it, let's  not
   # pretend to be UNIX.
   #

   set welcome "OS/32 FTP server"
   set ostype  "OS/32 Version 8.1 Interdata 8/32"

   #
   # "Send comments to"
   #

   set contact davygoat@gmail.com

   #
   # What ini file are we using?
   #

   set inifile os32.ini

   #
   # Leave  this,  on  at  least  initially. But  DO  zero  it  in  your
   # shadow.config  when  you  are  happy  that  your  configuration  is
   # working.
   #

   set debugconfig 1
}

if { [file exists shadow.config] } {
   if { [FileIs600 shadow.config] } {
      puts "$vt100(green)Sourcing shadow.config$vt100(normal)"
      source shadow.config
   } else {
      puts "$vt100(red)Ignoring shadow.config, must be chmod 600 or 400$vt100(normal)"
   }
} else {
   puts "$vt100(green)No shadow.config$vt100(normal)"
}


#
# Copy the portion BETWEEN THE SNIPS to a file called shadow.config, and
# edit  it to  your authentication  and authorization  requirements. The
# file should be chmod 600, very much like /etc/shadow.
#

if {0} {
# v------------------ SNIP SNIP SNIP  SNIP SNIP SNIP ------------------v

#
# shadow.config
#
namespace eval config {
   #
   # Example: non localhost access
   #
   #   simh is running on 192.168.1.10, which might a raspberry,
   #   you want to FTP from your PC and your laptop.
   #
   set host 192.168.1.10
   lappend allowip 192.168.1.2
   lappend allowip 192.168.1.3
   #
   # If you are using docker, or don't mind doing stuff as root:
   #
   # - Use port 21 (FTP) to transfer files.
   # - Use port 22 (SSH) to access the console in tmux/screen.
   # - Use port 22 (telnet) to signon to OS/32 MTM.
   #
   #set port 21
   #
   # Example:
   #
   #   User "david",
   #   password "needle nardle noo!",
   #   initial directory is 25,
   #   full access to all accounts.
   #
   # echo "david/needle nardle noo!" | md5sum
   #
   set access(david) { 25 * }
   set passwords(david) 78acfd6de*************378276a3e6
   #
   # Example: Anonymous FTP for downloads.
   #
   #   User "anonymous",
   #   password empty,
   #   initial directory is 99,
   #   no other accounts,
   #   RO option to disable STOR, RNFR, DELE, etc,
   #   but you DO want to upload files.
   #
   # echo "anonymous/" | md5sum
   #
   set access(anonymous) { 99 RO +STOR }
   set passwords(anonymous) 51dde3a631b82a549ff793f540f65e6e
}

# ^------------------ SNIP SNIP SNIP  SNIP SNIP SNIP ------------------^
}
