# vim:set syntax=tcl:

namespace eval config {

    #
    # This should be set to the IP address of your machine, or commented
    # out if you don't want the FTP server. Note, localhost or 127.0.0.1 
    # only listen on the loopback device.
    #
    set host localhost

    #
    # A high numbered port lets you run without root privilege, but the 
    # standard 21 will be more convenient if you are running in a container;
    # especially if your Windows FTP client only uses port 21.
    #
    set port 2121

    #
    # User name and password pairs. Unfortunately this is cleartext, but 
    # we're talking about FTP here, so don't expect too much.
    #
    array set passwords {
        david { }
    }

    #
    # All the IP addresses you wish to allow. You want the whitelist to be
    # small.
    #
    set allowip {
       127.0.0.1
    }
    #set allowip all  ;# not recommended

    #
    # Announcement. Don't include any newlines because the Linux ftp 
    # client gets confused if you do.
    #
    set welcome "OS/32 FTP server"

    #
    # While we're at it, let's not pretend to be UNIX.
    #
    set ostype "OS/32 Version 8.1 Interdata 8/32"

    #
    # "Send comments to"
    #
    set contact davygoat@gmail.com
}
